/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/pokemonArt.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
  box-sizing: border-box;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: 	#ba0000;
}

.col-40 h1 {
  font-size: 20px;
  color: 	#000000;
  background-color: #ff7c00;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #3fb5a6;
  padding: 30px;
  color: #000; 
}

#instrucciones h2{
  font-size: 20px;
  color: #000000;
  padding-top: 20px;
}

#objetivo h2{
  font-size: 20px;
  color: #000000;
  padding-top: 20px;
}

#objetivo img{
  float: left;
  box-sizing: content-box;
  width: 50%;
  padding-left: 70px;
}

#ultimo-mov h2{
  font-size: 20px;
  color: #000000;
  clear: both;
  text-align: center;
  padding-top: 15px;
}

.col-60 {
  background: #ff7c00;
  box-sizing: content-box;
  height: 600px;
  width: 600px;
}

.fichas div{
  box-sizing: content-box;
  width: 33.3%;
}

.fichas img{
  float: left;
  box-sizing: content-box;
  width: 33.3%;
  padding: 0.1px;
}


#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#footer{
  background-color: transparent;
  color: #000000;
  font:bold;
}

